[phases.setup]
nixPkgs = ['nodejs-20_x']

[phases.install]
cmds = ['cd frontend && npm ci']

[phases.build]
cmds = ['cd frontend && npm run build']

[start]
cmd = 'cd frontend && npx serve -s dist -p $PORT -H 0.0.0.0'